@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(200deg, #4163a1 0%, rgba(77, 105, 158, 0) 100%);
  padding: 18px 24px;
  margin-top: -25px;
  max-width: 345px;
  font-family: var(--font-roboto);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.container:hover {
  background: linear-gradient(200deg, #7a818d 0%, rgba(77, 105, 158, 0) 100%);
  transform: translateY(-28px);
  box-shadow: 0 40px 80px rgba(0, 0, 0, 0.2);
}

.image {
  margin-bottom: 26px;
}

.title {
  font-size: 25px;
  font-weight: 700;
}

.description {
  margin-top: 6px;
  font-size: 23px;
  font-weight: 400;
}


.skills {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 10px;
  margin: 0;
  gap: 10px;
  font-weight: 600px;
}

.skill {
  display: inline-block;
  padding: 7px 15px;
  background-color:  var(--color-primary);
  color: #d6d2d2;
  border-radius: 20px;
}
.links {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 20px;
  font-weight: 600;
  padding: 10px 20px;
  border: 2px solid var(--color-primary);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.link:hover {
  color: #ece5e5;
  border-color: var(--color-primary);
}

