@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(180deg, #576cbc 0%, #4b6085 100%);
  box-shadow: 0 16px 14px 0 #3a4b64;
  padding: 18px 24px;
  max-width: 345px;
  font-family: var(--font-roboto);
}

.image {
  margin-bottom: 26px;
}

.title {
  font-size: 25px;
  font-weight: 700;
}

.description {
  margin-top: 6px;
  font-size: 25px;
  font-weight: 400;
}

.skills {
  display: flex;
  flex-wrap: wrap; /* This allows the list to wrap to the next line if there are too many items */
  list-style-type: none; /* Removes the default list styling */
  padding: 0; /* Removes default padding */
  margin: 0; /* Removes default margin */
  gap: 10px; /* Adds space between the list items */
}

.skill::before {
  content: '•'; /* Adds a dot before each skill item */
  color: rgb(131, 135, 160); /* Sets the color of the dot */
  margin-right: 5px; /* Adds space between the dot and the skill text */
  font-size: 30px; /* Adjusts the size of the dot */
  vertical-align: middle; /* Aligns the dot vertically with the text */
}


.links {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 30px;
  font-weight: 600;
  border-radius: 100px;
  background: var(--color-primary);
  padding: 1px 22px;
}
