@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  /*background: #a7a7c0 ; */
  background: linear-gradient(200deg, #4163a1 0%, rgba(77, 105, 158, 0) 100%);
  /*box-shadow: 0 16px 14px 0 #6b7c9d; */
  padding: 18px 24px;
  max-width: 345px;
  font-family: var(--font-roboto);
}

.image {
  margin-bottom: 26px;
}

.title {
  font-size: 25px;
  font-weight: 700;
}

.description {
  margin-top: 6px;
  font-size: 23px;
  font-weight: 400;
}


.skills {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 10px;
  margin: 0;
  gap: 10px;
  font-weight: 600px;
}

.skill {
  display: inline-block;
  padding: 7px 15px;
  background-color:  var(--color-primary);
  color: #d6d2d2;
  border-radius: 20px;
}

  


.links {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: var(--color-text);
  font-size: 30px;
  font-weight: 600;
  transition: color 0.3s ease;
  padding: 1px 20px;
  position: relative; /* Set positioning context for pseudo-element */
}

.link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px; /* Adjust the thickness of the underline */
  background-color: var(--color-text); /* Same color as the text */
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.link:hover {
  color: var(--color-primary);
}

.link:hover::after {
  transform: scaleX(1);
  
}

