@import "../../vars.css";

.container {
  width: 80%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 120px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
  font-family: var(--font-roboto);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
  width : 60%;
}

.title {
  
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 15px;
  font-family: var(--font-roboto);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 120%,
    rgba(255, 255, 255, 0) 120%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; 
  
}

.description {
  font-size: 35px;
  font-family: var(--font-roboto);
  margin-bottom: 52px;
}

.contactBtn {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 100px;
  font-size: 30px;
  font-weight: 600;
  padding: 17px 26px ;
  padding-left: 40px;
  padding-right: 40px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contactBtn:hover{
  transform: translateY(-10px);
  box-shadow: 0 40px 80px rgba(59, 15, 220, 0.2);
}

.scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgb(67, 67, 142);
  color: rgb(214, 207, 207);
  border: none;
  padding: 18px 18px;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: opacity 0.3s, visibility 0.3s;
  opacity: 0.8;
  visibility: visible;
  z-index: 1000;
}

.scrollToTop:hover {
  opacity: 1;
}
.scrollToTop span {
  font-size: 45px; /* Adjust the size of the arrow */
  font-size: bold;
  line-height: 0; 
  vertical-align: middle;
  
}

.heroImg {
  margin-top: 10px;
  width: 35%;
  z-index: 1;
  align-self: flex-end;

  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.topBlur {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  min-width: 350px;
  top: -128px;
  left: -10vw;
  border-radius: 764px;
  background: rgba(130, 136, 148, 0.7);
  filter: blur(100px);
  z-index: 0;
}

.bottomBlur {
  position: absolute;
  width: 70vw;
  height: 70vw;
  min-width: 350px;
  min-width: 250px;
  top: 246px;
  right: -25vw;
  border-radius: 764px;
  background: rgba(115, 122, 137, 0.7);
  filter: blur(100px);
  z-index: 0;
  overflow: hidden;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
  }

  .content {
    align-items: center;
    width: 100%;
  }
  .heroImg {
    display: none; 
  }
}