@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 79px;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 100px;
  font-family: var(--font-roboto);
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start; /* Align items to the start */
  margin-top: 14px;
}

.imageContainer {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-right: 45px;
}

.skillImage {
  width: 100%;
  max-width: 500px; /* Adjust the max width as needed */
  border-radius: 10px;
  opacity: 0; /* Start with opacity 0 */
  transform: translateX(-50px); /* Start from left */
  transition: all 0.6s ease-out;
}

.skillImage img {
  width: 100%;
  border-radius: 10px;
}

.history {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.historyItem {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #6981ac;
  background: linear-gradient(90deg, #6b7c9d 0%, rgba(77, 105, 158, 0) 100%);
  border-radius: 10px;
  padding: 20px;
  opacity: 0; /* Start with opacity 0 */
  transform: translateX(50px); /* Start from right */
  transition: all 0.6s ease-out;
}

.historyItemDetails {
  font-family: var(--font-roboto);
}

.historyItemDetails h3 {
  font-size: 25px;
  font-weight: bold;
}

.historyItemDetails p {
  font-size: 20px;
  font-weight: 300;
}

.historyItemDetails ul {
  margin-top: 6px;
  list-style-position: inside;
  font-size: 25px;
  list-style-type: disc;
  margin-left: 17px;
}

.animate {
  opacity: 1;
  transform: translateX(0);
}

@media screen and (max-width: 830px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 34px;
  }

  .imageContainer {
    width: 100%;
    justify-content: center;
  }

  .history {
    width: 100%;
    gap: 9px;
  }

  .skillImage,
  .historyItem { 
    opacity: 0; /* Start with opacity 0 */
    transform: translateX(50px); /* Start from right */
    transition: all 0.6s ease-out;
  }
  .animate {
    opacity: 1;
    transform: translateX(0);
  }
}
